<!DOCTYPE html>
<html ng-app="myApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>AngularJS</title>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="scripts/event.js"></script>
    <link rel="stylesheet" type="text/css" href="class.css">
</head>
<body ng-controller="MyController">
<form>
    <button ng-click="myStyle='red'">赤</button>
    <button ng-click="myStyle='green'">緑</button>
    <button ng-click="myStyle='blue'">青</button>
</form>
<div ng-class="myStyle">
    <p>WINGSプロジェクトは、当初、ライターの....</p>
</div>
</body>
</html>
