<!DOCTYPE html>
<html ng-app="myApp" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>AngularJS</title>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="scripts/event.js"></script>
    <link rel="stylesheet" type="text/css" href="class2.css">
</head>
<body ng-controller="MyController">
<form>
    <label><input type="checkbox" ng-model="bBack" />背景</label>
    <label><input type="checkbox" ng-model="bChara" />フォント</label>
    <label><input type="checkbox" ng-model="bSpace" />余白</label>
</form>
<div ng-class="{back:bBack,chara:bChara,space:bSpace}">
    <p>WINGSプロジェクトは、当初、ライターの....</p>
</div>
</body>
</html>
