.back {
    background-color: #ff0000;
    color: #ffffff;
}

.chara {
    font-size: x-large;
    font-weight: bold;
}

.space {
    margin: 15px;
    padding: 15px;
}

input.ng-invalid {
    background-color: #fee
}

input.ng-dirty.ng-invalid {
    background-color: #fee
}