<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8"/>
    <title>AngularJS</title>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="scripts/event.js"></script>
</head>
<body ng-controller="MyController">
<form>
    <button ng-click="myStyle={ backgroundColor: '#f00', color: '#fff' }">赤</button>
    <button ng-click="myStyle={ backgroundColor: '#0f0' }">緑</button>
    <button ng-click="myStyle={ backgroundColor: '#00f', color: '#fff' }">青</button>
</form>
<div ng-style="myStyle">
    <p>WINGSプロジェクトは、当初、ライターの....</p>
</div>
</body>
</html>
